{
  "cars": [],
  "colors": [
    {
      "id": 1,
      "title": "blue"
    },
    {
      "id": 2,
      "title": "green"
    },
    {
      "id": 3,
      "title": "yellow"
    }
  ],
  "types": [
    {
      "id": 1,
      "title": "hatchback"
    },
    {
      "id": 2,
      "title": "sedan"
    },
    {
      "id": 3,
      "title": "cabriolet"
    },
    {
      "id": 4,
      "title": "miniven"
    }
  ]
}
